# Reference:
# https://help.github.com/articles/ignoring-files/
# https://github.com/github/gitignore


# private
secrets.*
credentials.*
*.pem

# configs
user.gitconfig

# environment
.env
.env.*

# dependencies
/node_modules/

# testing
/coverage/

# production
/build/

# logs
*.log
npm-debug.log*

# misc
.DS_Store
